.env
/.venv/
venv
ret_env
predictions
models_baru
models_baru_tf_idf
__pycache__
hf_finetune_results
hf_finetune_results_lora
hf_finetune_results_lora_baru
train_raw_dataset
test_raw_dataset
topic_classification
chroma_db
chroma_download
outputs
processed_multixscience_data
summarization
model_local_final
final_dataset_retrieval
final_dataset_retrieval_cleaned
final_dataset_retrieval_split
models-retrieval
models-retrieval-minilm-triplets
models-retrieval-mpnet
models-scidocs-transfer
checkpoints