/.venv/
predictions
hf_env
models
__pycache__
hf_finetune_results
hf_finetune_results_lora
hf_finetune_results_lora_baru
tmp_trainer
train_raw_dataset
test_raw_dataset
topic_classification
chroma_db
outputs
processed_multixscience_data
summarization